.NavForm {
    text-align: center;
}

.NavForm .primaryLi {
    display: inline-block;
}

.NavForm li {
    /*display: inline-block;*/
    list-style: none;
    margin: 10px;
    padding: 0px
}

.NavForm a {
    text-decoration: none;
    color: black;
}

.NavForm a.active {
    color: orangered;
    display: inline-block;
    padding: 10px 0;
    border-bottom: 1px solid orangered;
}
